.card {
    overflow: visible;
    width: 300px;
    height: 400px;
    margin: 3rem;
    cursor: pointer;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #00000055;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
  }
  
  .back-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .back-content-imgBox {
    width: 90%;
    height: 50%;
    display: contents;
    top: 2rem;
  }
  .back-content img {
    width: 95%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .back-content-weader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .back-content-weader > img {
    width: 30%;
  }
  .back-content-weader > span {
    font-size: .8rem;
  }
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  .front {
    transform: rotateY(180deg);
    color: black;
    font-weight: 700;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: white;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    /* display: flex;
    justify-content: space-between; */
  }  
  .card-footer {
    color: white;
    margin-top: 5px;
    font-size: 8px;
  }

  /* @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  } */