@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./card.css');
/* html {
  background-image: url('../img/sky.jpg');
  background-size: cover;
} */
.bg {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    z-index: -1;
  }
  video {
    width: 100%;
  }
  .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text p {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
  }
  .alramBanner {
      display: flex;
      justify-content: space-between;
  }
.announcement-container {
    width: 50%;
    background-color: white;
    /* border: 1px solid black; */
}
.announcement-container > h2 {
  margin-left: 1.5rem;
}
.announcement-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.announcement-container ul li {
  width: 200px;
  height: 200px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.announcement-container ul li:hover {
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .3);
}
.announcement-container ul > li > a {
  height: 50%;
}
.announcement-container ul > li > span {
  font-size: .8rem;
}
.announcement-container ul > li img {
  width: 100%;
  height: 100%;
}
.banner-container {
    width: 50%;
    /* border: 1px solid red; */
    margin-bottom: 2rem;
}
.banner-container .banner {
    width: 80%;
    height: 45%;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}
.calender-container {
  width: 100%;
  height: 100%;
  background-color: white;
}
 /* 카드리스트 */
.cardList-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardList-container>h2 {
  margin-top: 0.5rem;
  font-weight: 900;
}
section .cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 25%;
}
.cardList-btn {
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  margin: 3rem 0;
  cursor: pointer;
}
.cardList-btn:hover {
  background-color: var(--secondary-color);
  /* color: black; */
}
.hide {
  display: none;
}