@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./card.css');
/* html {
    background-color: black;
} */
.bg {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    z-index: -1;
  }
  video {
    width: 100%;
  }
  .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text p {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
  }
  .alramBanner {
      display: flex;
      justify-content: space-between;
  }
.announcement-container {
    width: 50%;
    background-color: white;
    /* border: 1px solid black; */
}
.announcement-container > h2 {
  margin-left: 1.5rem;
}
.announcement-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.announcement-container ul li {
  width: 200px;
  height: 200px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.announcement-container ul > li > a {
  height: 50%;
}
.announcement-container ul > li > span {
  font-size: .8rem;
}
.announcement-container ul > li:nth-child(1) {
  background-image: url('https://i.namu.wiki/i/XwQP-El8dJCH6fx-iPv0TyS7c9SaT2m1XKMCy1Wb8qs07yxjYVb95Wt-elL5lDsSwR7X6jPlwwTUqBljMAD9gajP43N9kkztVkwN4yK8mpldLLyJpxU5EtcgrL4hPpQ5A-nNPM5iruzkeSvTQNOsbw.webp');
  background-size: cover;
  color: white;
}
.announcement-container ul > li:nth-child(2) {
  background-image: url('https://www.dscwd.or.kr/app/dubu_board/docs/imgs/m/lg_m16524088986860_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg');
  background-size: cover;
  color: white;
}
.announcement-container ul > li:nth-child(3) {
  background-image: url('https://scontent-ssn1-1.xx.fbcdn.net/v/t39.30808-6/362270806_816892629871692_8825997364789779947_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=GOyLAqVL9V8AX9uq9D0&_nc_ht=scontent-ssn1-1.xx&oh=00_AfAs3_W4xvUXhneKYpsFhcBhg9Dhl6GBzEUfXOaxbq9VYw&oe=64E4BDE7');
  background-size: cover;
  color: white;
}
.announcement-container ul > li:nth-child(4) {
  background-image: url('https://minio.nculture.org/amsweb-opt/multimedia_assets/59/30113/16040/c/013_2019-%EC%9C%A0%EC%84%B1%EC%98%A8%EC%B2%9C%EB%AC%B8%ED%99%94%EC%B6%95%EC%A0%9C-full-size.jpg');
  background-size: cover;
  color: white;
}
.banner-container {
    width: 50%;
    /* border: 1px solid red; */
    margin-bottom: 2rem;
}
.banner-container .banner {
    width: 80%;
    height: 45%;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}
.calender-container {
  width: 100%;
  height: 100%;
  background-color: white;
}
 /* 카드리스트 */
.cardList-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardList-container>h2 {
  margin-top: 0.5rem;
  font-weight: 900;
}
section .cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 25%;
}
.cardList-btn {
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  margin: 3rem 0;
  cursor: pointer;
}
.cardList-btn:hover {
  background-color: var(--secondary-color);
  /* color: black; */
}
.hide {
  display: none;
}